@{
    ViewBag.Title = "Truyện Tranh Neyung Store";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>


    <address>
        Bán ALL thể loại Truyện <br />
        Địa Chỉ: sống trên the ground, dưới SUN<br />
        <abbr title="Phone">Số Điện Thoại:</abbr>
        093.6338.***
    </address>

    <address>
        <strong>Hỗ Trợ Sự Cố:</strong>   <a href="mailto:chidetest@gmail.com">chidetest@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>